# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env
.venv/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Streamlit cache
.streamlit/

# Logs
*.log

# Python cache files
.pytest_cache/
.mypy_cache/

# Build files
build/
dist/
*.egg-info/

#The provided dataset and processes data
data/raw/
data/processed/